
@{
    ViewBag.Title = "EmptyGioHang";
    Layout = "~/Views/Shared/_HomeLayOutPage.cshtml";
}

<h2 style="text-align:center; color:antiquewhite;">Giỏ hàng của bạn hiện đang trống.</h2>

    <img style=" margin: 3rem 0 0 12rem; width: 330px; height: 330px" src="https://cdn-icons-png.flaticon.com/512/5793/5793651.png">

