
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_HomeLayOutPage.cshtml";
}

<h2 style="inline-size:">Đơn hàng của quý khách đã được chúng tôi ghi nhận. </h2>
<h2> Chúng tôi sẽ liên hệ với quý khách trongn thời gian sớm nhất </h2>           
<a href="@Url.Action("Index", "Home")" style="display: inline-block;
                 cursor: pointer;
                 width: 170px;
                 height: 45px;
                 line-height: 45px; /* Ensures vertical centering */
                 text-align:center;
                 border-radius: 22px;
                 background-color: #333;
                 color: #ede385;
                 text-decoration: none;">
    Về trang chủ
</a>

